/* auth.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-image: url('../backend/images/leaves.png');
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 900px;
    height: 500px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    overflow: hidden;
}

.left-panel {
    width: 50%;
    background: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.left-panel img {
    width: 80%;
    margin-bottom: 20px;
}

.left-panel h2 {
    color: #ffffff98;
    font-size: 22px;
    font-weight: bold;
}

.right-panel {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-panel h2 {
    margin-bottom: 25px;
    font-size: 22px;
    color: #1a1a1a;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
}

button {
    margin-top: 20px;
    padding: 12px;
    background-color: #ddd;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

button:hover {
    background-color: #4a90e2;
    color: white;
}

p {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

p a {
    color: #4a90e2;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Responsif */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    .left-panel, .right-panel {
        width: 100%;
        padding: 30px 20px;
    }

    .left-panel img {
        width: 60%;
    }
}
